/* ----- ESTILOS GENERALES ----- */
body {
    background-image: url('images/carrera.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* ----- LOGO ----- */

#logo-header {
    float: left;
    margin: 10px;
    width: 80px;
    height: 160px;

    text-decoration: none;
}

/* ----- NAVEGACIÓN ----- */


/*nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
}

nav ul li a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
}

nav ul li a:hover {
    background: red;
}*/

/* ----- SECCIÓN PRINCIPAL ----- */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: auto;
    gap: 10px;
}

.image {
    flex: 0 0 auto;
    height: 280px;
    margin-left: 12px;
}

/* ----- EFECTOS VISUALES ----- */
.text, .blur-cont {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    width: fit-content;
    margin: auto;
}

li {
    font-weight: bold;
}

.date {
    font-weight: bold;
    text-align: right;
}

/* ----- LAYOUT Y ESTRUCTURA ----- */
.layout {
    display: grid;
    grid-template-columns: 1fr minmax(300px, 800px) 1fr;
    gap: 20px;
    margin-top: 2rem;
}

.side {
    background-color: transparent;
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.centered-text {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

/* ----- TABLAS Y ELEMENTOS EXTRAS ----- */
table {
    background-color: aliceblue;
}

.calendar {
    width: 50%;
    height: auto;
}

.calendar td:hover {
    outline: #da1616 solid 2px;
    font-weight: bold;
}

#tandas {
    background-color: cornsilk;
    font-weight: bold;
}

/* ----- ESTILOS DE TEXTO ----- */
h3 {
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    color: #d9480f;
    outline-style: solid;
    outline-color: #d9270f;
    outline-width: 2px;
    background-color: rgba(231, 231, 231, 0.281);
}

td {
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    color: #000000;
}


/*CSS DANI LANA */

body {
    background-color: whitesmoke;
    height: auto;
}

/* Estilo de los titulos*/

h1 {
    margin-left: 5%;
    margin-bottom: 2%;
}

h2 {
    color: white;
    font-size: 50px;
    margin-bottom: 10px;
}

h3 {
    color: black;
    font-style: italic;
    font-size: 25px;
}

p {
    font-family: arial;
    font-size: 20px;
}

/* Estilos de la barra de navegacion*/

.navegador {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra los elementos en la barra */
    background-color: white;
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.3);
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid white;
    border-radius: 10px;
    width: 80%;
    padding: 10px;

}

.navegador ul {
    padding: 0px;
    margin: 10px;
}

.navegador ul li {
    display: inline-block;
    margin-inline: 10px;
    vertical-align: middle;
}

.login {
    float: right;
    margin: 10px;
}

a {
    text-decoration: none;
    font-family: arial;
    font-size: 15px;
    color: seagreen;
}

.logo img {
    width: 50px;
}


.navegador a:hover {
    color: darkgreen;
    font-weight: bold;
}

/* Estilos del Grid y contenedores */

.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 65%;
    height: auto;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 3%;
    margin: auto;
    margin-bottom: 2%;
    align-items: stretch;
}

.contenedor section {
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    height: 90%;
}

.contenedor .imagen {
    grid-column: 1 / span 3;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagenes/carrera.png");
    background-size: cover;
    background-position: center;
    text-align: center;
}

.contenedor .zaragoza {
	grid-column: span 2;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagenes/zaragoza.png");
    background-size: cover;
    background-position: center;
    text-align: center;
}

.contenedor .madrid {
	grid-column: span 2;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagenes/madrid.png");
    background-size: cover;
    background-position: center;
    text-align: center;
}

.contenedor .ropa {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagenes/ropa.png");
    background-size: cover;
    background-position: center;
    text-align: center;
}

.contenedor .ganadores {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagenes/trofeo.png");
	background-size: cover;
	background-position: center;
	text-align: center;
}

.fechas {
    color: white;
    font-size: 25px;
}

.consultar {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* PAGINA QUIENES SOMOS*/

.principal {
    width: 65%;
    height: auto;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 3%;
    margin: auto;
    text-align: left;
    align-items: stretch;
}

.principal h2 {
    color: black;
    font-size: 30px;
    margin-bottom: 2%;
}

#informacion {
    margin-top: -35px;
}

.principal img {
    display: block;
    width: 50%;
    margin: auto;
}

/* Este es el diseño del Footer*/

footer {
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.3);
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid white;
    border-radius: 10px;
    height: auto;
    width: 75%;
    justify-content: center;
}

footer h2 {
	color: black;
    font-size: 30px;
    margin: auto;
}

footer ul {
	list-style: none;
    padding-left: 0;
}

footer a {
    font-family: arial;
    color: black;
    font-size: 15px;
}

footer li {
    padding: 5px;
}

footer div {
    min-width: 200px;
    margin: 10px;
}

.social ul {
    display: inline-flex;
}

.social a {
    font-size: 20px;
    margin: 5px;
}

.social a:hover {
    color: darkgreen;
    font-weight: bold;
    font-size: 30px;
}