body {
    background-image: url('track.png');
    /* Cambia 'tu-imagen.jpg' por tu imagen */
    background-size: cover;
    /* Ajusta la imagen para cubrir toda la página */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita la repetición */
}

.wrapper {
    display: inline-grid;
    border: 1px solid #999;
    background-color: #999;
}

.wrapper>div {

    border: 1px solid #999;
    background-color: #999;
    padding: 0.3em;
    color: #d9480f;
    display: inline-block;
    width: auto;
    max-width: 100%;

}

#info {
    display: inline-flex;
    margin-top: 1.5cm;
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px;
}

#main-header {
    background: #999;
    color: rgb(0, 0, 0);
    height: 80px;
    border: 2px solid black;
}

.site-name {
    text-decoration: overline red;
}

#main-header a {
    color: rgb(0, 0, 0);
}

#logo-header {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
}

#logo-header:hover {
    color: rgb(238 0 0);
}

#logo-header .site-name {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}

#logo-header .site-desc {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #da1616;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
}

nav ul li a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
}

nav ul li a:hover {
    background: red;
}


.layout {
    display: grid;
    grid-template-columns: 1fr minmax(300px, 800px) 1fr;
    /* lados y contenido */
    gap: 20px;
    margin-top: 2rem;
}

.side {
    background-color: transparent;
    /* bordes laterales visibles */
    min-height: 100px;
}

.centered-text {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

table {
    background-color: aliceblue;
}

#hora {
    size: 140cm;
}

.side {
    width: 100%;
    /* Expand the sidebar */
    display: flex;
    justify-content: center;
    /* Center the calendar */
}

.calendar {
    width: 50%;
    /* Make the calendar occupy most of the space */
    height: auto;
}

h3 {
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    color: #d9480f;
}

td {
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    color: #000000;
}