.main {
    display: grid;
    grid-template-columns: 1fr;
    /* lados y contenido */
    gap: 20px;
    margin-top: 2rem;
}

.trackLayout {
    background-image: 'image/layout.png'; 
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 300px; /* Adjust width as needed */
    height: 100%; /* Full height */
    background-color: #f0f0f0; /* Optional: Add a background color */
}