.content {
    display: flex;
    flex-direction: column;
    /* Cambia la dirección a columna */
    align-items: center;
    text-align: center;
    width: 80%;
    margin: auto;
    gap: 10px;
}

.image {
    flex: 0 0 auto;
    /* No se expande ni contrae */
    height: 280px;
    margin-left: 12px;
}

.text {
    flex: 1;
    text-align: center;
    font-size: 1.2em;
    background: rgba(255, 255, 255, 0.404);
    backdrop-filter: blur(90px);
    padding: 10px;
    border-radius: 8px;
}

.blur-cont {
    background: rgba(255, 255, 255, 0.3);
    /* Fondo semitransparente */
    backdrop-filter: blur(20px);
    /* Aplica desenfoque */
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    width: fit-content;
    margin: auto;
}

li{
    font-weight: bold;
}

.date {
    font-weight: bold;
    text-align: right;
}

body {
    background-image: url('images/carrera.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
}

nav ul li a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
}

nav ul li a:hover {
    background: red;
}

#main-header {
    background: #999;
    color: rgb(0, 0, 0);
    height: 85px;
    border: 2px red double;
}
#logo-header {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
}

#logo-header:hover {
    color: rgb(238 0 0);
}

#logo-header .site-name {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}

#logo-header .site-desc {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #da1616;
}