.main {
    display: grid;
    grid-template-columns: 1fr;
    /* lados y contenido */
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    align-items: center;
}

.trackLayout {
    display: grid;
    position: absolute;
    right: center;
    top: 0;
    width: 300px; /* Adjust width as needed */
    height: 100%; /* Full height */
}